@import "public/css/scss/vars";

.content {
  position: relative;

  .home {
    position: absolute;
    right: 5px;
    padding: 20px;

  }

  .container {
    position: absolute;

    .bi {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
    }

    & h1 {
      margin-top: 5px;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary;

    }
  }

  .form {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;

    & input {
      margin-top: 30px;
      width: 100%;
      height: 40px;
      margin-bottom: 5px;
    }
  }
}

.btnReg {
  width: 100%;
  margin-bottom: 5px;
}

.btnLogin {
  width: 100%;

}

.register {

}
