@import "../../../public/css/vars";
.home {
  min-height: 100vh;


}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-text {
    width: 50%;

    & > * {
      color: #232F85;
      margin-bottom: 2rem;
    }

    & > h2 span {
      display: block;
    }

    & .hero-buttons a {
      color: #fff;
    }
  }

  .hero-buttons {
    .btn {
      font-weight: 400;
      padding: 6px 8px;
      margin: 0 5px 0 0;
      border: 1px solid transparent;
      border-radius: 3px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;

      &:hover {
        transform: translateY(-2px);
      }

    }
  }

  .start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

  }

  .hero-image {
    width: 50%;
  }

}

.numPart {
  margin-right: 1rem;

  & p {
    margin: 8px 0 0 0;
    font-weight: 600;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .hero-image {
    width: 100%;

    &img {
      width: 100%;
    }
  }
}

.nav{
  padding: 5px;
  display: flex;
  justify-content: space-between;
  color: #232F85;

  button {
    color: #fff;
  }
}